{{ define "main" }}
<content>
  {{ if .Content }}
    {{ .Content }}
  {{ end }}
  <h3>{{ .Title }}</h3>
  {{/* Build a sortable list from the taxonomy entries */}}
  {{ $entries := slice }}
  {{ range $term, $pages := .Site.Taxonomies.tags }}
    {{/* Most recent page date for this term */}}
    {{ $latest := (index $pages 0).Page.Date }}
    {{ range $pages }}
      {{ if .Page.Date.After $latest }}
        {{ $latest = .Page.Date }}
      {{ end }}
    {{ end }}
    {{ $entries = $entries | append (dict "term" $term "count" (len $pages) "latest" $latest "page" .Page) }}
  {{ end }}
  {{/* Sort by count descending, then by latest date descending */}}
  {{ $sorted := sort $entries "latest" "desc" }}
  {{ $sorted = sort $sorted "count" "desc" }}
  <div>
    {{ range $sorted }}
      <a class="blog-tags" href="{{ .page.RelPermalink }}">#{{ lower .term }}({{ .count }})</a>
    {{ end }}
  </div>
</content>
{{ end }}
