<!-- Social media icons -->
<div class="footer-social-icons">
    <a href="https://linkedin.com/in/louislef299" target="_blank">
        <img src="/image/svgs/brands/linkedin.svg" alt="linkedin">
    </a>
    <a href="https://github.com/louislef299" target="_blank">
        <img src="/image/svgs/brands/github.svg" alt="gitHub">
    </a>
    <a href="https://medium.com/@louislefebvre1999" target="_blank">
        <img src="/image/svgs/brands/medium.svg" alt="medium">
    </a>
</div>

<small>
  {{ .Site.Copyright }} | {{ markdownify .Site.Params.madeWith }}
</small>