<hr />

<small> {{ .Site.Copyright }} | {{ markdownify .Site.Params.madeWith }} </small>
<div class="git-update" style="opacity: 0.5; padding-top: 0.75rem">
    <small>
        <i
            >{{ with .GitInfo }} Last updated {{ .CommitDate | time.Format
            ":date_medium" }} (<a
                href="{{ $.Site.Params.gitRepoURL }}/commit/{{ .Hash }}"
                >{{ .AbbreviatedHash }}</a
            >) {{ end }}</i
        >
    </small>
</div>

<!-- Social media icons -->
<div class="footer-social-icons" style="opacity: 0.75; padding-top: 1rem">
    <a href="https://linkedin.com/in/louislef299" target="_blank">
        <img src="/image/svgs/brands/linkedin.svg" alt="linkedin" />
    </a>
    <a href="https://github.com/louislef299" target="_blank">
        <img src="/image/svgs/brands/github.svg" alt="gitHub" />
    </a>
    <a
        href="https://open.spotify.com/user/lefavorite?si=ac8f2ce91f62475c"
        target="_blank"
    >
        <img src="/image/svgs/brands/spotify.svg" alt="spotify" />
    </a>
    <a href='{{ absURL "index.xml" }}' target="_blank">
        <img src="/image/svgs/solid/rss.svg" alt="RSS" />
    </a>
</div>

<style>
    .bmc-btn-container {
        transform: scale(0.6);
    }
</style>
<div class="bmc-div" style="opacity: 0.75">
    <script
        type="text/javascript"
        src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
        data-name="bmc-button"
        data-slug="louislef299"
        data-color="#40DCA5"
        data-emoji=""
        data-font="Cookie"
        data-text="Buy me a coffee"
        data-outline-color="#000000"
        data-font-color="#000000"
        data-coffee-color="#FFDD00"
    ></script>
</div>
