<!-- Social media icons -->
<div class="footer-social-icons">
    <a href="https://linkedin.com/in/louislef299" target="_blank">
        <img src="/image/svgs/brands/linkedin.svg" alt="linkedin">
    </a>
    <a href="https://github.com/louislef299" target="_blank">
        <img src="/image/svgs/brands/github.svg" alt="gitHub">
    </a>
    <a href="https://open.spotify.com/user/lefavorite?si=ac8f2ce91f62475c" target="_blank">
        <img src="/image/svgs/brands/spotify.svg" alt="spotify">
    </a>
    <a href='{{ absURL "index.xml" }}' target="_blank">
        <img src="/image/svgs/solid/rss.svg" alt="RSS">
    </a>
</div>

<small>
  {{ .Site.Copyright }} | {{ markdownify .Site.Params.madeWith }}
</small>