<div id="tree"></div>

<script>
    let family = new FamilyTree("#tree", {
        // options
        mode: "dark",
        nodeBinding: {
            field_0: "name",
            field_1: "dob"
        },
        nodes: [
            { id: 1, pids: [2], name: "Alventa LeFebvre", gender: "male" },
            { id: 2, pids: [1], name: "Betty LeFebvre", gender: "female" },
            { id: 22, pids: [8], name: "Jim Trapskin", gender: "male" },
            { id: 8, pids: [22] ,mid: 2, fid: 1, name: "Susan Trapskin", gender: "female" },
            { id: 23, mid: 8, fid: 22, name: "Ben Trapskin", gender: "male" },
            { id: 24, mid: 8, fid: 22, name: "Philip Trapskin", gender: "male" },
            { id: 25, mid: 8, fid: 22, name: "Sam Trapskin", gender: "male" },
            { id: 21, pids: [9], name: "Patrick Palin", gender: "male" },
            { id: 9, pids: [21], mid: 2, fid: 1, name: "Patricia Palin", gender: "female" },
            { id: 19, mid: 9, name: "Rosie Palin", gender: "female" },
            { id: 20, mid: 9, name: "Jimmy Palin", gender: "male" },
            { id: 10, mid: 2, fid: 1, name: "Carol LeFebvre", gender: "female" },
            { id: 18, mid: 10, name: "Andy LeFebvre", gender: "male" },
            { id: 17, mid: 10, name: "Rachel Walker", gender: "female" },
            { id: 12, pids: [13], mid: 2, fid: 1, name: "Joe LeFebvre", gender: "male" },
            { id: 13, pids: [12], name: "Mary LeFebvre", gender: "female" },
            { id: 14, mid: 13, fid: 12, name: "Shaun LeFebvre", gender: "male" },
            { id: 15, mid: 13, fid: 12, name: "Brian LeFebvre", gender: "male" },
            { id: 16, mid: 13, fid: 12, name: "Mark LeFebvre", gender: "male" },
            { id: 11, mid: 2, fid: 1, name: "Danny LeFebvre", gender: "male" },
            { id: 3, pids: [4], fid: 1, mid: 2, name: "Anthony LeFebvre", gender: "male", dob: "11-27-1966" },
            { id: 4, pids: [3], name: "Michele Jensen", gender: "female", dob: "8-27-1968" },
            { id: 5, mid: 4, fid: 3, name: "Isabelle LeFebvre", gender: "female", dob: "6-18-1997" },
            { id: 6, mid: 4, fid: 3, name: "Louis LeFebvre", gender: "male", dob: "3-25-1999" },
            { id: 7, mid: 4, fid: 3, name: "Henry LeFebvre", gender: "male", dob: "1-27-2006" },
        ]  
    });
</script>